/* :root {
    --bg: #f8f4f0;
    --block: #f8f4f0;
} */

/* * {
    font-family: Graphik, Helvetica, Arial, sans-serif;
    font-family: Gilroy, sans-serif;
} */

/* body {
    background-color: #f8f4f0;
} */

/* Icons */

.icon {
    font-size: 1.4em;
    display: flex;
    align-items: center;
}

.icon_link {
    font-size: 1em;
    margin-left: .5em;
    text-decoration: underline dotted;
}

.tg {
    color: #229ed9;
    font-size: 1.1em;
}

.g {
    color: #db4437;
}

/*  */

#cases,
#contacts {
    width: 100%;
}

#cases {
    width: 100%;
}

#cases .card {
    max-height: 270px;
}
#cases .card_image {
    height: 200px;
}

/* Banner */

.banner {
    background: url(/bg1.svg),#f8f4f0;
    background-image: url(/bg1.svg), initial;
}

@media (max-width: 769px) {
    .banner {
        background: url(/bg1.svg) left center,#f8f4f0;
    }
}

.menu a {
    cursor: pointer;
}

/* Custom */

#black {
    background-color: #333 !important;
}
#black:hover {
    background-color: #000 !important;
}

/* Rewrite */

.ck div {
    display: block;
}

.ck-editor {
    width: 100% !important;
    max-width: 100vw;
}

label {
    align-items: center;
}
select:focus {
    outline: none;
}

/* Search */

/* .search_cover {
    width: 100%;
    position: sticky;
    top: 0;
    height: 58px;
    margin-bottom: 36px;
    backdrop-filter: blur(8px);
    z-index: 700;
} */

.search {
    width: 100%;
    position: relative;
    height: 62px;
    display: flex !important;
    align-items: center;
    background-color: #fff;
    border-radius: var(--radius-big);
    white-space: nowrap;
    box-shadow: 0 .25rem 1.5rem rgba(0, 0, 0, .12);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    z-index: 90;
    margin: 18px 0 8px 0;
}
.search:hover {
    box-shadow: 0 .75rem 2.25rem rgba(0, 0, 0, .2);
}

.search input {
    height: 62px !important;
    font-size: 1.2em;
    padding: 0 1em !important;
    border: 0 !important;
    min-width: 40%;
}

.search .filter {
    /* width: auto !important; */
    /* display: inline-flex; */
    height: 62px;
    background-color: #fff;
    border-radius: 0 !important;
    border-left: 1.4px solid #dadada;
    margin: 0;
    max-width: 20%;
}

.search > *:first-child {
    border-top-left-radius: var(--radius-big) !important;
    border-bottom-left-radius: var(--radius-big) !important;
}
.search > *:last-child {
    border-top-right-radius: var(--radius-big) !important;
    border-bottom-right-radius: var(--radius-big) !important;
}

/* Units */

.units {
    width: 100%;
}

.unit {
    height: 140px;
    margin-top: 16px;
    background-color: var(--block);
    width: 100%;
    vertical-align: top;
    cursor: pointer;
    border-radius: var(--radius-small);
    box-shadow: 0 0.25rem 1.5rem rgb(0 0 0 / 12%) !important;
    transition: all .3s cubic-bezier(0, 0, .5, 1);
    display: inline-flex;
    flex-direction: column;
    word-wrap: break-word;
}

.unit:hover {
    transform: scale3d(1.01, 1.01, 1.01);
}

.unit_image {
    background-size: cover;
    background-position: center center;
    width: 140px;
    height: 140px;
    border-radius: var(--radius-small) 0 0 var(--radius-small);
}

.unit_body {
    padding: 1em;
    flex: 1 1 auto;
}
