/* :root {
    --bg: #f8f4f0;
    --block: #f8f4f0;
} */

/* * {
    font-family: Graphik, Helvetica, Arial, sans-serif;
    font-family: Gilroy, sans-serif;
} */

/* body {
    background-color: #f8f4f0;
} */

/* Icons */

.icon {
    font-size: 1.4em;
    display: flex;
    align-items: center;
}

.icon_link {
    font-size: 1em;
    margin-left: .5em;
    text-decoration: underline dotted;
}

.tg {
    color: #229ed9;
    font-size: 1.1em;
}

.g {
    color: #db4437;
}

/*  */

#cases,
#contacts {
    width: 100%;
}

#cases {
    width: 100%;
}

#cases .card {
    max-height: 270px;
}
#cases .card_image {
    height: 200px;
}

/* Banner */

.banner {
    background: url(/bg1.svg),#f8f4f0;
    background-image: url(/bg1.svg), initial;
}

@media (max-width: 769px) {
    .banner {
        background: url(/bg1.svg) left center,#f8f4f0;
    }
}

.menu a {
    cursor: pointer;
}

/* Custom */

#black {
    background-color: #333 !important;
}
#black:hover {
    background-color: #000 !important;
}

/* Rewrite */

.ck div {
    display: block;
}

.ck-editor {
    width: 100% !important;
    max-width: 100vw;
}
