# env/bin/python -m pip install -U --force-reinstall pip

# App
libdev==0.87
fastapi==0.111.0
httptools==0.6.1  # NOTE: for routing
uvicorn==0.30.1
PyJWT==2.8.0
python-multipart==0.0.9  # NOTE: for file upload
slowapi==0.1.9

# Jobs
dramatiq==1.17.0
APScheduler==3.10.4

# Users
userhub==0.14

# DB
consys==0.38

# MQ
redis==5.0.7

# Sockets
python-socketio==5.11.3
websockets==12.0  # NOTE: for Socket.IO

# Monitoring
prometheus_fastapi_instrumentator==7.0.0

# Telegram
tgio==0.13

# Reports
tgreports==0.16

# # Payments
# yookassa==2.3.5

# Google Docs
google-auth==2.32.0
pygsheets==2.0.6
pandas==2.2.2

# # SMS
# smsc==0.1.1
