name: CI/CD dev

on:
  push:
    branches: [ "dev" ]

jobs:
  lint:
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          cd ./api/
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: flake8
        run: |
          cd ./api/
          make lint-flake

      - name: isort
        run: |
          cd ./api/
          make lint-isort

      - name: black
        run: |
          cd ./api/
          make lint-black

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: lint
    services:

      mongodb:
        image: mongo:6.0
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: ${{ secrets.MONGO_USER }}
          MONGO_INITDB_ROOT_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
          MONGO_INITDB_DATABASE: test_db
        options: >-
          --health-cmd "echo 'ok'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3

      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          cd ./api/
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Redis manually
        run: |
          docker run -d --name redisdb -p 6379:6379 redis:latest redis-server --requirepass ${{ secrets.REDIS_PASSWORD }}

      - name: Wait for MongoDB
        run: |
          echo "Waiting for MongoDB to be ready..."
          timeout 60s bash -c 'until nc -z localhost 27017; do sleep 2; done'
          echo "MongoDB port is open!"

          echo "Waiting for Redis to be ready..."
          timeout 60s bash -c 'until nc -z localhost 6379; do sleep 2; done'
          echo "Redis port is open!"

          sleep 5
      - name: Create .env file
        run: |
          cd ./api/
          cat > .env << 'EOF'
          TZ=Asia/Yerevan
          NAME=KEYGO
          PROJECT_NAME=test_project
          WEB=local
          MODE=LOCAL
          LOCALE=en
          TIMEZONE=4
          JWT=test_jwt_secret
          ANALYTICS_SHEET=test_sheet
          NOTIFY_CHANNEL=test_channel
          AMERIA_USER=test_user
          AMERIA_PASS=test_pass
          AMERIA_CLIENT=test_client
          SENTRY_DSN=https://test@test.ingest.sentry.io/test
          ENVIRONMENT=test
          TG_TOKEN=test_token
          TG_BOT=test_bot
          BUG_CHAT=1000000000
          TG_HOST_BOT=test_host_bot
          GOOGLE_CREDENTIALS={"type": "service_account", "project_id": "test", "private_key_id": "test", "private_key": "test", "client_email": "test@test.iam.gserviceaccount.com", "client_id": "test", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/test%40test.iam.gserviceaccount.com", "universe_domain": "googleapis.com"}
          GOOGLE_TOKEN=test_token
          GOOGLE_REFRESH=test_refresh
          GOOGLE_ID=test_id
          GOOGLE_SECRET=test_secret
          MONGO_USER=${{ secrets.MONGO_USER }}
          MONGO_PASS=${{ secrets.MONGO_PASSWORD }}
          MONGO_HOST=localhost
          MONGO_PORT=27017
          MONGO_DB=test_db
          BNOVO_USER=test@keygo.io
          BNOVO_PASS=test_pass
          BNOVO_ID=11111
          BNOVO_ID_RU=22222
          TRACKER_TOKEN=test_token
          TRACKER_ORG=test_org
          PROJECT_PARENT=test_parent
          BEDS24_TOKEN=test_token
          BEDS24_KEY=test_key
          BNOVO_WEB_AM=11111
          BNOVO_WEB_RU=22222
          BNOVO_USER_WEB=test@keygo.io
          BNOVO_PASS_WEB=test_pass
          S3_HOST=https://s3.test.com/
          S3_USER=test_user
          S3_PASS=test_pass
          GRAFANA_PASS=test_pass
          YANDEX_OAUTH=test_oauth
          BEDS24_REFRESH_TOKEN=test_refresh
          WAPPI_TOKEN=test_token
          WAPPI_PROFILE_ID=test_profile
          ZENDESK_TOKEN=test_token
          ZENDESK_USER=test_user
          ZENDESK_PASS=test_pass
          YOOKASSA_ID=test_id
          YOOKASSA_SECRET=test_secret
          TTLOCK_CLIENT_ID=test_client
          TTLOCK_CLIENT_SECRET=test_secret
          TTLOCK_USERNAME=test_user
          TTLOCK_PASSWORD=test_pass
          TBANK_TERMINAL_KEY_RU=test_key
          TBANK_PASSWORD_RU=test_pass
          TBANK_TERMINAL_KEY_AM=test_key
          TBANK_PASSWORD_AM=test_pass
          API=https://dev.keygo.io/api/
          REDIS_HOST=localhost
          REDIS_PASS=${{secrets.REDIS_PASSWORD}}
          REDIS_PORT=6379
          AVITO_CLIENT_ID=test_client_id
          AVITO_CLIENT_SECRET=test_client_secret
          AVITO_ACCOUNT_ID=101010
          RABBIT_HOST=localhost
          RABBIT_PORT=5672
          RABBIT_USER=guest
          RABBIT_PASS=guest
          RABBIT_VHOST=v2
          EOF

      - name: Run tests
        run: |
          cd ./api/
          pytest
